<main role="main">
    <section class="jumbotron text-center">
        <div class="container pt-5">
            <h1 class="jumbotron-heading">Agregar tarea</h1>
            <p class="lead text-muted pb-3">Añade una nueva tarea a tu lista. Completa los campos y presiona "agregar"
                para guardarla.</p>
            <form [formGroup]="fGroup" class="px-5 mx-5 mb-5">
                <div class="form-group">
                    <input formControlName="title" type="text" class="form-control form-control-lg" placeholder="Título"
                        >
                </div>
                <br>
                <div class="form-group">
                    <select formControlName="category" class="form-control custom-select form-control-lg">
                        <option value="" disabled selected>Elige categoría</option>
                        <option value="trabajo">Trabajo</option>
                        <option value="personal">Personal</option>
                        <option value="estudio">Estudio</option>
                        <option value="salud">Salud</option>
                        <option value="finanzas">Finanzas</option>
                        <option value="compras">Compras</option>
                        <option value="ocio">Ocio</option>
                        <option value="viajes">Viajes</option>
                        <option value="urgente">Urgente</option>
                        <option value="tarea-en-casa">Tarea en casa</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <textarea formControlName="description" class="form-control form-control-lg mb-5" aria-label="With textarea"
                        placeholder="Descripción"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-dark btn-lg"
                        (click)="addTask()"><strong>Agregar</strong></button>
                </div>
            </form>
        </div>
    </section>

    <section class="container px-5" *ngIf="tasks.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Estado</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody id="task-table">
                <tr *ngFor="let task of tasks">
                    <td>{{ task.titulo }}</td>
                    <td>{{ task.categoria }}</td>
                    <td>{{ task.descripcion }}</td>
                    <td>{{ task.estado }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="deleteTask(task)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>